.banner-search {
  display: flex;
  // max-width: 480px;
  border: transparent;
  min-height: 20px;
  justify-content: space-between;
  padding: 8px;
  background-color: $background-color-input;
  border-radius: 8px;
  width: 100%;
}
input[type="search"] {
  border-radius: 8px;
  padding: 8px;
  border: transparent;
  outline: none;
  // -webkit-appearance: none;
  width: 100%;
  vertical-align: middle;
  background-color: $background-color-input;
  color: #fff;
  opacity: 38%;
  margin-left: 30px;
}
