.brands {
  margin-bottom: 200px;
  &-wrapper {
    padding: 55px 82px;
    background: rgb(40, 48, 54);
    background: linear-gradient(
      300deg,
      rgba(40, 48, 54, 1) 60%,
      rgba(40, 48, 54, 1) 60%,
      rgba(255, 110, 48, 0.5) 99%,
      rgba(255, 110, 48, 0.5) 100%
    );
    backdrop-filter: blur(25px);
    border-radius: 25px;
  }
  &-description {
    width: 370px;
    text-align: center;
    margin: 0 auto;
    h4 {
      font-size: 24px;
      color: $white;
      opacity: 80%;
      margin-bottom: 55px;
    }
  }
  &-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 25%;
      margin-right: 107px;
    }
    svg:last-child {
      margin-right: 0;
    }
  }
}
