.banner {
  &-wrapper {
    width: 480px;
  }
  h1 {
    margin-bottom: 30px;
    max-width: 600px;
  }
  p {
    margin-bottom: 60px;
    max-width: 480px;
    color: $white;
    opacity: 55%;
  }
  &-search {
    position: relative;
    margin-bottom: 110px;
    svg {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }
  }
  &-social {
    margin-bottom: 200px;
    svg {
      width: 58px;
      height: 58px;
    }
  }
}
